*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-green:#2ecc71;
    --color-red:#e74c3c;
    --color-white:#ffffff;
}
body{
    background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow-y: hidden;
}
.content{
    margin:80px;
    padding:50px;
    width:30%;
    height:500px;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:40px;

}
.score {
    transform:translateX(-100px);
    visibility:hidden;
    display:flex;
    margin:80px;
    padding:50px;
    width:30%;
    height:500px;
    background-color:white;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:40px;
}
.forms{
    display:flex;
    flex-direction:column;
    width:100%;
    
}
form{
    display:flex;
    flex-direction:column;
    width:100%;
    gap: 20px;
}

h1{
  text-align:center;
  font-size: 18px;
   color:#555555;
}
p{
    text-align: center;
    color:#555555;
}
#email,#username{
    font-family:"Inter";
    font-style: normal;
    font-weight:400mal;;
    font-size: 16px;
    line-height: 19px;
    color:#555555;
    width:100%;
    height:40px;
    outline:none;
    
}

.btnBegin{
    font-family: "Inter";
    font-weight: 500;
    line-height:24.2px;
    width:100%;
    height:40px;
    text-align: center;
    font-size: 20px;
    color:white;
    background-color:rgb(0, 128, 0);
    font-style: normal;
    font-weight: 500;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.error{
    border:1px solid var(--color-red);
}
.success{
    border:1px solid var(--color-green);
}
small{
    color:#e74c3c;
}

img{
    width:90px;
    height:90px;
}

.res{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
    gap:100px;
    padding:20px;
    text-align:center;
}
.btnQuitteScore{
    width:100%;
    height:40px;
    color:#FFFFFF;
    background-color:blue;
    font-size: 18px;
}