@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: linear-gradient(90deg,
            #85f6b8 0%,
            rgba(142, 217, 235, 0.85) 99.84%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    font-family: 'Inter';
}

.content {
    margin: 80px;
    padding: 40px;
    width: 30%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.score {
    display: none;
    margin: 80px;
    padding: 50px;
    width: 30%;
    height: 500px;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.question {
    box-sizing: border-box;
    transform: translateX(-100px);
    display: none;
    margin: 80px;
    padding: 20px;
    width: 30%;
    height: 500px;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 18px;
    color: #555555;
}

p {
    text-align: center;
    color: #555555;
    font-size: 14px;
}

#email,
#username {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400mal;
    font-size: 18px;
    line-height: 19px;
    color: #555555;
    width: 100%;
    height: 40px;
    outline: none;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnBegin {
    font-family: "Inter";
    font-weight: 500;
    line-height: 24.2px;
    width: 226px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 128, 0);
    font-style: normal;
    font-weight: 500;
    filter: drop-shadow(0px 4px 4px #f8f6f6f5);
    cursor: pointer;
}

.error {
    border: 1px solid var(--color-red);
}

.success {
    border: 1px solid var(--color-green);
}

small {
    color: #e74c3c;
}

img {
    width: 90px;
    height: 90px;
}

.res {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    padding: 20px;
    text-align: center;
}

.btnQuitteScore {
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: #1e90ff;
    font-size: 18px;
}

.btn {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    grid-row-end: span;
}

.btnQuitter {
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: #ff8b1e;
    font-size: 18px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btnSuivant {
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: rgb(0, 128, 0);
    font-size: 18px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: none;
    opacity: 0.2;
    cursor: not-allowed;
}

/* Questionnaires */
.quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

/* formulaire questions*/
.option {
    font-size: 1.4rem;
    margin: 5px 0 0 5px;
    padding: 10px;
    transition: 0.5s ease background-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    cursor: pointer;
    border: 1px solid rgb(212, 211, 208);
    color: #555555;
}

form .option label {
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
    justify-content: stretch;
    height: 20px;
    color: #555555;
    font-size: 14px;
}

form .option:hover {
    border: 1px solid #2ecc71;
    cursor: pointer;
}

.notice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Q,
.m {
    color: #555555;
    font-style: 14px;
    border: none;
}

#Form_Quiz {
    margin-top: 10px;
}

form .option input[type="radio"] {
    accent-color: rgb(0, 128, 0);
    cursor: pointer;
}
form .option input[type="radio"]:hover {
    cursor: pointer;
}
#progresse{
    margin-left: 5px;
    width: 100%;
    height:10px;
    background-color:rgba(250, 245, 245, 0.932);
    border-radius: 5px;
    display: flex;
}
#bar{
    width: 100%;
    height: 10px;
    background-color: green;
    border-radius: 5px;
}

.option1 {
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.option1 .m {
    text-align: right;
    border: none;
    margin: 0;
    font-size: 14px;
}

.option1 .Q {
    text-align: left;
    border: none;
    margin: 0;
    top: 10px;
    font-size: 14px;
}

.Quiz {
    text-align: center;
    padding: 10px;
    top: 10px;
    font-size: 14px;
    color: #555555;
}
/* Animation pour l'image de la fin  */
#imgs{
    animation: animate 0.7s ease
}
@keyframes animate {
    0%{
        transform: translateY(60px) scale(0.7) rotate(0deg);
    }

    50%{
        transform: scale(0.2) rotate(90deg) skewY(-40deg);
        width: 90px;
    }

    75%{
        transform: scale(0.5) rotate(180deg) skewY(20deg);
        width: 10px;
    }

    100%{
        transform: translateY(0px) scale(1) rotate(360deg);
        opacity: 1;
    }
}
